<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:growl id="msj" />
        <h:form id="mo">
            <p:panelGrid columns="1">
                <p:commandButton icon="ui-icon-plus" value="Nuevo" oncomplete="PF('Registro Cliente').show()" />
            </p:panelGrid>
        </h:form>
        <p:dialog widgetVar="Registro Cliente" header="Datos" modal="true" showEffect="clip" resizable="false">
            <p:ajax event="close" listener="#{managedCliente.limpiar()}" update="da"/>
            <h:form id="da">
                <p:panelGrid columns="2">
                    <p:outputLabel for="txtNombre" value="Nombre"/>
                    <p:inputText id="txtNombre" value="#{managedCliente.cliente.nombre}" required="true"/>
                    <p:outputLabel for="txtApellido" value="Apellido"/>
                    <p:inputText id="txtApellido" value="#{managedCliente.cliente.apellido}" required="true"/>
                    <p:outputLabel for="txtDir" value="Dirección"/>
                    <p:inputText id="txtDir" value="#{managedCliente.cliente.direccion}" required="true"/>
                    <p:outputLabel for="txtFec" value="Fecha de Nacimiento"/>
                    <p:calendar id="txtFec" value="#{managedCliente.cliente.fecha_nacimiento}" required="true"/>
                    <p:outputLabel for="txtTel" value="Telefono"/>
                    <p:inputText id="txtTel" value="#{managedCliente.cliente.telefono}" required="true"/>
                    <p:outputLabel for="txtMail" value="E-Mail"/>
                    <p:inputText id="txtMail" value="#{managedCliente.cliente.email}" required="true"/>

                    <p:commandButton value="Guardar" actionListener="#{managedCliente.guardar()}"
                                     rendered="#{managedCliente.cliente.id_cliente == 0}"
                                     update=":Datos :msj da" oncomplete="PF('Registro Cliente').hide();"/>
                    <p:commandButton value="Actualizar" actionListener="#{managedCliente.editar()}"
                                     rendered="#{managedCliente.cliente.id_cliente != 0}"
                                     update=":Datos :msj da" oncomplete="PF('Registro Cliente').hide();"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        <h:form id="Datos">
            <p:panel id="basic" header="Datos Cliente" footer="Registro Cliente" 
                     toggleable="true" closable="true" toggleSpeed="500" 
                     closeSpeed="500" widgetVar="panel" style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="10">
                    <p:dataTable  var="c"  paginator="true" rows="5">
                        <p:column headerText="Id">
                            <h:outputText value="#{c.id_cliente}"/>
                        </p:column>
                        <p:column headerText="Nombre" filterBy="#{c.nombre}">
                            <h:outputText value="#{c.nombre}"/>
                        </p:column>
                        <p:column headerText="Apellido" filterBy="#{c.apellido}">
                            <h:outputText value="#{c.apellido}"/>
                        </p:column>
                        <p:column headerText="Dirección" filterBy="#{c.direccion}">
                            <h:outputText value="#{c.direccion}"/>
                        </p:column>
                        <p:column headerText="Fecha De Nacimiento" filterBy="#{c.fecha_nacimiento}">
                            <h:outputText value="#{c.fecha_nacimiento}"/>
                        </p:column>
                        <p:column headerText="Telefono" filterBy="#{c.telefono}">
                            <h:outputText value="#{c.telefono}"/>
                        </p:column>
                        <p:column headerText="Email" filterBy="#{c.email}">
                            <h:outputText value="#{c.email}"/>
                        </p:column>

                        <p:column headerText="Acciones">
                            <p:commandButton value="editar" actionListener="#{managedCliente.cargarcliente(c)}"
                                             update=":da" oncomplete="PF('Registro Cliente').show();" icon="ui-icon-person"/>
                            <p:commandButton value="Eliminar" actionListener="#{managedCliente.eliminar(cc)}"
                                             update=":Datos :msj" icon="ui-icon-trash"/>
                        </p:column>
                    </p:dataTable>
                </h:panelGrid>
            </p:panel>
        </h:form>
    </h:body>
</html>

